.day , .month , .year {
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.blue{
  color: blue;
}
h1 { 
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px ;
}
div.wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


div.first-column { 
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s; 
}
div.second-column { 
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
    
}

div.third-column { 
  
transform: translateZ(-288px);

transform-style: preserve-3d;
transition: transform 1s;
  
}

div.day:nth-child(1) { transform: rotateX(  55deg);
opacity: .2 }
div.day:nth-child(2) { transform: rotateX( 35deg) ;opacity: .3}
div.day:nth-child(3) { transform: rotateX( 15deg) ;opacity: .4}
div.day:nth-child(4) { transform: rotateX(0deg);opacity: 1 ;}


div.day:nth-child(4)::before{
  content: '';
  height: 40px;
  width: 100vw;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  position: absolute;
  left: -60px;
    top: -3px;
    overflow: hidden;
}

div.day:nth-child(5) { transform: rotateX(-15deg);opacity: .4 }
div.day:nth-child(6) { transform: rotateX(-35deg) ;opacity: .3}
div.day:nth-child(7) { transform: rotateX(-55deg); opacity: .2 }


div.month:nth-child(1) { transform: rotateX(  55deg);color: blue;
    opacity: .3 }
    div.month:nth-child(2) { transform: rotateX( 35deg) ;color: blue;opacity: .4}
    div.month:nth-child(3) { transform: rotateX( 15deg) ;color: blue;opacity: .5}
    div.month:nth-child(4) { transform: rotateX(0deg);opacity: 1 ; color: blue;}
    
    
    div.month:nth-child(5) { transform: rotateX(-15deg);color: blue;opacity: .5 }
    div.month:nth-child(6) { transform: rotateX(-35deg) ;color: blue;opacity: .4}
    div.month:nth-child(7) { transform: rotateX(-55deg); color: blue;opacity: .3}




    div.year:nth-child(1) { transform: rotateX(  55deg);;
      opacity: .1}
      div.year:nth-child(2) { transform: rotateX( 35deg) ;opacity: .2}
      div.year:nth-child(3) { transform: rotateX( 15deg) ;opacity: .3}
      div.year:nth-child(4) { transform: rotateX(0deg); color: blue;opacity: .5 }
      div.year:nth-child(5) { transform: rotateX(-15deg);opacity: .3 }
      div.year:nth-child(6) { transform: rotateX(-35deg) ;opacity: .2}
      div.year:nth-child(7) { transform: rotateX(-55deg); opacity: .1}